$headSize: 85px;
$faceSize: 55px;
$upperBeakSize: 55px;
$lowerBeakSize: 30px;
$eyeSize: 20px;

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .head {
        position: absolute;
        height: $headSize * 2;
        width: $headSize;
        background-color: #D75D3A;
        border-bottom-right-radius: $headSize * 2;
        border-top-right-radius: $headSize * 2;
        z-index: 1001;
        transform-origin: -25%;
        animation: head-rotation 3s linear infinite;
    }   

    .face {
        position: absolute;
        top: 30px; // Change to $headSize-$faceSize
        height: $faceSize * 2;
        width: $faceSize;
        background-color: white;
        border-bottom-right-radius: $faceSize * 2;
        border-top-right-radius: $faceSize * 2;
        z-index: 1002;
        transform-origin: -38%;
        animation: face-rotation 3s linear infinite;
    }

    .upper-beak {
        position: absolute;
        top: 30px;
        left: -55px;
        height: $upperBeakSize;
        width: $upperBeakSize;
        background-color: #F8D664;
        border-top-left-radius: $upperBeakSize;
        z-index: 1004;
        transform-origin: 62% 62%;
        animation: upper-beak-rotation 3s linear infinite;
    }

    .lower-beak {
        position: absolute;
        top: 85px;
        left: -30px;
        height: $lowerBeakSize;
        width: $lowerBeakSize;
        background-color: rgb(255, 170, 59);
        border-bottom-left-radius: $lowerBeakSize;
        z-index: 1000;
        transform-origin: 25% 65%;
        animation: lower-beak-rotation 3s linear infinite;
    }

    .eye {
        position: absolute;
        top: 62px;
        left: -65px;
        height: $eyeSize;
        width: $eyeSize;
        background-color: black;
        border-radius: 50%;
        z-index: 1003;
        animation: eye-roll 3s linear infinite;
    }
}

@keyframes head-rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes face-rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(-180deg); }
    75% { transform: rotate(-180deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes upper-beak-rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(90deg); }
    75% { transform: rotate(90deg); }
}

@keyframes lower-beak-rotation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(-90deg); }
    75% { transform: rotate(-90deg); }
}

@keyframes eye-roll {
    0% { margin-left: 65px; }
    25% { margin-left: 65px; }
    50% { margin-left: 0px; }
    55% { margin-left: 0px; }
    60% { margin-left: 0px; }
    65% { margin-left: 0px; } 
    75% { margin-left: 0px; }
    80% { margin-left: 30px; }
    85% { margin-left: 40px; }
    90% { margin-left: 40px; }
    95% { margin-left: 65px; }
    100% { margin-left: 65px; }
}